services:
  python-server-1:
    build:
      context: ./python-server
      dockerfile: Dockerfile
      args:
        APP_PORT: 5001
    container_name: python-server-1
    ports:
      - "5001:5001"
  python-server-2:
    build:
      context: ./python-server
      dockerfile: Dockerfile
      args:
        APP_PORT: 5002
    container_name: python-server-2
    ports:
      - "5002:5002"
  python-server-3:
    build:
      context: ./python-server
      dockerfile: Dockerfile
      args:
        APP_PORT: 5003
    container_name: python-server-3
    ports:
      - "5003:5003"

  python-server-4:
    build:
      context: ./python-server
      dockerfile: Dockerfile
      args:
        APP_PORT: 5004
    container_name: python-server-4
    ports:
      - "5004:5004"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - python-server-1
      - python-server-2
